body {
    background-color: #202020;
    color: #FFFFFF;
    font-family: "Consolas", monospace;
}

h1 {
    color: #3399FF;
    text-align: center;
}

a { color: #DDDDDD; }

span {
    background: #333333;
    color: #3399FF;
}

h2 { color: #FFFF00; }

h3 { color: #00FF00; }

h4 { color: #00FFFF; }

cite { color: #FF00FF; }